<?xml version='1.0' encoding='utf-8'?>
<rss version="2.0"><channel><title>NCAA Baseball - APP Finals</title><link>https://espn.com</link><description>Final games for APP</description><item><title>UL 5 - APP 4 (Final)</title><link>https://espn.com</link><guid>ncaab-144-271-2026-05-08</guid><pubDate>Fri, 08 May 2026 21:17:37 -0500</pubDate></item><item><title>UL 2 - APP 7 (Final)</title><link>https://espn.com</link><guid>ncaab-144-271-2026-05-09</guid><pubDate>Sat, 09 May 2026 17:14:14 -0500</pubDate></item><item><title>UL 12 - APP 3 (Final)</title><link>https://espn.com</link><guid>ncaab-144-271-2026-05-10</guid><pubDate>Sun, 10 May 2026 15:45:22 -0500</pubDate></item><item><title>APP 12 - GAST 2 (Final)</title><link>https://espn.com</link><guid>ncaab-271-358-2026-05-14</guid><pubDate>Thu, 14 May 2026 20:40:36 -0500</pubDate></item></channel></rss>